@model Pruebas.Models.CursoEscolar

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar Curso Escolar</h1>

<h4>¿Estas seguro de borrar el Curso Escolar?</h4>

<div>
    <h4>CursoEscolar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnyoInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnyoInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnyoFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnyoFin)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index"  class="btn" style="background-color: #81c784; color: white;">Ir a la lista</a>
    </form>
</div>
