@model Pruebas.Models.CursoEscolar

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CursoEscolar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AnyoInicio" class="control-label"></label>
                <input asp-for="AnyoInicio" class="form-control" />
                <span asp-validation-for="AnyoInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnyoFin" class="control-label"></label>
                <input asp-for="AnyoFin" class="form-control" />
                <span asp-validation-for="AnyoFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"  class="btn" style="background-color: #81c784; color: white;">Ir a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
