@model Pruebas.Models.Asignatura

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Asignatura</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Creditos" class="control-label"></label>
                <input asp-for="Creditos" class="form-control" />
                <span asp-validation-for="Creditos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Curso" class="control-label"></label>
                <input asp-for="Curso" class="form-control" />
                <span asp-validation-for="Curso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cuatrimestre" class="control-label"></label>
                <input asp-for="Cuatrimestre" class="form-control" />
                <span asp-validation-for="Cuatrimestre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProfesor" class="control-label"></label>
                <select asp-for="IdProfesor" class="form-control" asp-items="ViewBag.IdProfesor"></select>
                <span asp-validation-for="IdProfesor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdGrado" class="control-label"></label>
                <select asp-for="IdGrado" class="form-control" asp-items="ViewBag.IdGrado"></select>
                <span asp-validation-for="IdGrado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"  class="btn" style="background-color: #81c784; color: white;">Ir a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
